
.row1{
	padding: 5px;
	background-color:  	#2F4F4F;
}
.row2{
	padding: 2px;
	background-color: white;
}
.row3{
	padding: 2px;
	background-color: #E0FFFF;
}
.container{
    max-width:540px;
    max-height: 960px;
    border-style: solid;
    border-width: thin;
}
.center{
    text-align:center;
}