
.row1{
	padding: 5px;
	background-color: #2F5597;
}
.row2{
	padding: 2px;
	background-color: white;
}
.row3{
	padding: 2px;
	background-color: #E0FFFF;
}
.container{
    max-width:540px;
    max-height: 960px;
    border-style: solid;
    border-width: thin;
}
.center{
    text-align:center;
}
.col{
	padding: 20px;
}

.top-three {
     margin-top: 3cm;
}

.rotating_image {
    position: relative;
    width: 50%;
    height: 50%s;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
#left{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
